{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appCisla/appCisla.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="post">
            {% csrf_token %}
            <input type="text" name="a" >
            <input type="text" name="b" >
            <input type="submit">
    </form>
    <p>
        A = {{a}}<br>
        B = {{b}}<br>
        cislo {{comp}} je vacsie<br>
        cislo A je {{evenA}}<br>
        cislo B je {{evenB}}<br>
        cislo A {{primeA}} prvocislo<br>
        cislo B {{primeB}} prvocislo<br>
    </p>
</body>
</html>